.custom-datepicker-input::placeholder {
    color: black;
    font-weight: bold;
}

.custom-datepicker-input {
    text-align: center;
    border-radius: 0.75rem;
    /* Rounded corners */
    padding: 0.375rem 0.75rem;
    /* Padding */
    font-weight: bold;
    /* Bold text */
    color: black;
    /* Text color */
}